<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link type="text/css" rel="stylesheet" href="/css/style.css" />
		<title>{{ title }}</title>
	</head>
	<body bgcolor="#FFFAE6">
		<div id="banner">
			<div id="banner-content">
				 {% if user %}{{ user.email() }} - <a href='{{ logout }}'>Logout</a>{% else %}<a href='{{ login }}'>Login</a>{% endif %}
			</div>
		</div>
		<div id="main">
			<div id="title"><h1>{{ title }}</h1></div>
			<div id="pinbox">
				{% block body %}
    			{% endblock %}
    		</div>
    	</div>
    	<div id="footer">
			<div id="footer-content">
				Designed by Connor Bain
			</div>
		</div>
	</body>
</html>